<div ng-controller="angularController">
  <h1>Welcome to yoda</h1>
  <div>
    <p><a ng-click="getYodaText(text.input)" role="button">yoda it</a></p>
  </div>
  <form>
    <input type="text" ng-model="text.input" value="" placeholder="...write here">
    <input type="text" ng-model="text.output">
  </form>



  </div>
</div>
