<div ng-controller="angularController">
  <h1>Welcome to yoda</h1>
  <div>
    <p><a ng-click="getYodaText(text.input)" role="button">yoda it</a></p>
  </div>
  <form>
    <input type="text" ng-model="text.input" value="" placeholder="...write here">
    <input type="text" ng-model="text.output">
  </form>



  </div>

  <div ng-controller="voiceController">
  <h1>here goes fun</h1>
  <form>
    <input type="button" ng-click='try()' value="TRY" class='button'>
  </form>
  <p id="fun">{{quote}}</p>
  
  </div>
